@page "/drawings"
@rendermode InteractiveServer

@using FalboObscura.Components.Pages.Shared
@using FalboObscura.Core.Models.Constants

<h3>DrawingGallery</h3>

<GalleryViewer ImageType="@ImageType.DrawingImage" />
