@page "/fleshrites"

@using FalboObscura.Components.Pages.Shared
@using FalboObscura.Core.Models.Constants

<h3>TattooGallery</h3>

<GalleryViewer GalleryType="@GalleryType.TattooGallery" />

@code {

}